name: Python Flask App
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.11
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.2
      - name: Install dependencies
        run: pip install -r python-flask-app/requirements.txt
      - name: Run the app
        run: python python-flask-app/app.py
        
      
